.bg-secondary {
  background-color: #343a40; /* Gris oscuro */
}
  
  .comida-item {
    background-color: #F3E1E1; /* Color de fondo rosa cemento */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .modal-slide .modal-dialog {
    transform: translateY(100%); /* El modal aparece escondido debajo de la página */
    transition: transform 0.3s ease-out;
}

.modal-slide.show .modal-dialog {
    transform: translateY(0); /* El modal se desliza hacia arriba y aparece en la página */
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

td{
  font-weight: bold;
}

.cabecera img {
  background-color: transparent;
  border-radius: 50%; 
}

.generoModal img{
  background-color: transparent;
  border-radius: 10%; 
}

.card-body{
  background-color: #6c757d;
}

.card-body .btn-menu {
  background-color: #28a745; /* Verde */
  color: #ffffff; /* Texto blanco */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.card-body .btn-menu:hover {
  background-color: #218838;
}